name: Deploy Laravel to Hostinger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP & Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mbstring, bcmath, intl, pdo, mysqli
          tools: composer

      - name: Update Composer Dependencies
        run: composer update
        
      - name: Install Composer Dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Upload Laravel App to Hostinger
        uses: SamKirkland/FTP-Deploy-Action@v4.3.0
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          port: ${{ secrets.FTP_PORT }}
          local-dir: "./"
          server-dir: "/test-action"
          exclude: |
            **/.git*
            **/.github*
            node_modules/**
            tests/**
            .env
